body {
  font-family: "Raleway", sans-serif;
  color: #213053;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.header__logo {
  margin-left: 30px;
}
a {
  text-decoration: none;
  color: #213053;
}
header a {
  font-size: 15px;
  font-weight: 600;
  margin-right: 25px;
}
button {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  padding: 15px;
}
.about__image {
  width: 500px;
}
.about__sun-image {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: rotation 10s linear infinite;
}
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 115px;
  padding-bottom: 115px;
  background: url('img/back.png') no-repeat;
  background-size: cover;
  background-position: center;
}
.about h1 {
  font-size: 70px;
  line-height: 76px;
}
.about p {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}
.about button {
  font-size: 18px;
  padding: 20px 25px;
  border-radius: 20px;
  margin-top: 20px;
}
.about__info {
  max-width: 550px;
}
.form__container {
  width: 550px;
}
.form {
  background-color: #1d263a;
  color: #fff;
  padding: 115px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стили для заголовка формы */
.form h1 {
  font-size: 48px;
}

/* Стили для подзаголовка формы */
.form p {
  font-size: 18px;
  opacity: 0.65;
}
/* Стили для контейнера .form__group */
.form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* Стили для текстовой метки */
.form__group label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;
}
.form form {
  display: grid;
  grid-gap: 20px;
  margin-top: 60px;
}
.form__group input,
.form__group select {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0 20px;
  border-radius: 15px;
  border: none;
  width: 100%;
}
.form__submit {
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
  color: #fff;
  height: 60px;
  padding: 0 20px;
  border-radius: 15px;
  border: none;
}
select {
  appearance: none;
}
input {
  outline: none;
}
button {
  transition: background-color 0.3s ease-in;
}
button:hover {
  background-color: #f6980c;
  box-shadow: 0 16px 36px rgba(246, 152, 12, 0.2);
}
footer {
  padding: 90px 20px;
  font-size: 16px;
  font-weight: 600;
}

.footer__container {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin-top: 40px;
  text-align: center;
  opacity: 0.5;
}
.footer__group {
  margin-right: 80px;
}

.footer__group h3 {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 30px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  margin-bottom: 15px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about__sun-image {
  position: absolute;
  animation: rotation 10s linear infinite;
}

/* Мобильная версия (ширина экрана до 720px) */
@media (max-width: 720px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .about p {
    font-size: 16px;
    line-height: 24px;
  }

  .about__image {
    width: 280px;
  }

  .about__sun-image {
    width: 75px;
    height: 75px;
  }

  .form__container {
    width: 100%;
    padding: 0 20px;
  }

  footer {
    padding: 50px 20px;
  }

  .footer__group {
    margin-right: 40px;
  }

  .footer__links a {
    font-size: 14px;
  }
}

/* Планшетная версия (ширина экрана от 720px до 1024px) */
@media (min-width: 720px) and (max-width: 1024px) {
  section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about h1 {
    font-size: 48px;
    line-height: 56px;
  }

  .about p {
    font-size: 18px;
    line-height: 28px;
  }

  .about__image {
    width: 350px;
  }

  .about__sun-image {
    width: 90px;
    height: 90px;
  }

  .form__container {
    width: 700px;
    padding: 0 40px;
  }

  footer {
    padding: 70px 40px;
  }

  .footer__group {
    margin-right: 60px;
  }

  .footer__links a {
    font-size: 16px;
  }
}

